# Assignment 3

### Write a function to count the number 4 in a given list.

In [15]:
def count_4 (given_list):
    result = [num for num in given_list if num ==4 ]
    return len(result)
count_4 ([1,4,9,4,8,4,4,6,4,2])

5

### write a  function to check whether a number is divisible by another number.

In [18]:
myfunc = lambda dividend,divisor : True if dividend%divisor==0 else False
myfunc(20,6)

False

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [35]:
def myfunc (mySeq):
    mySeq.sort()
    Max = len(mySeq)-1
    print("Max is {} , Min is {}".format(mySeq[Max],mySeq[0]))
    
myfunc([15,5,7,9,6,4,23,5,2,4,845])

Max is 845 , Min is 2

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [44]:
def myfunc(list1,list2):
    for i in list1:
        if i in list2:
            return True
        if i == len(list1) :
            return False
myfunc([1,2,3,4,5],[6,7,8,9,5])

True

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [2]:
def factorial(num):
    if (num==1):
        return 1
    else:
        return num*(factorial(num-1))
factorial(4)

24

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [18]:
def range_check(num):
    for i in range(3,12):
        if num==i :
            print("The number is in the range")
            break
        if(i==11):
            print('Number is not in range')
range_check(12)

Number is not in range

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [9]:
def multiple_func (num):
    for i in range(0,11):
        print(i*num)
multiple_func(1)

0
1
2
3
4
5
6
7
8
9
10

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [7]:
def lesser_of_two_evens(num1,num2):
    if (num1%2==0 and num2%2==0):
        if(num1<num2):
            return num1
        else:
            return num2
    else:
        if(num1>num2):
            return num1
        else:
            return num2

a = lesser_of_two_evens (7,8)
a

8

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [27]:
myfunc = lambda word1,word2: "True" if word1[0]==word2[0] else "False"
myfunc('ahmed','aya')

'True'

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [32]:
makes_twenty = lambda num1,num2: 'True' if num1+num2 == 20 or num1==20 or num2==20 else 'False' 
makes_twenty(13,20)

'True'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [7]:
AlmostThere = lambda num : True if num in range(90,111) or num in range(190,211) else False

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [12]:
def BlackJack(num1,num2,num3):
    if (num1+num2+num3)<= 21 : 
        return num1+num2+num3
    elif (num1==11 or num2==11 or num3==11):
        return (num1+num2+num3)-10
    else :
        return 'BUST'

'BUST'